.background {
  background-color: lightblue;
  min-height: 100vh;
  overflow: auto;
}

header {
  text-align: center;
}

header h2 {
  text-align: center;
  font-weight: 400;
  font-size: 35px;
}

.search {
  outline: none;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  border: 1px solid grey;
  width: 210px;
  margin-left: 50px;
  height: 40px;
}

.search-button {
  margin-left: 20px;
  height: 40px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #ced4da;
}

.sub-heading {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}
